
<form>
  <label for="name" >Nom</label>
  <input type="text" class="form-control" id="name" name="name" placeholder="nom du produit" [(ngModel)]="produit.nom" >

  <label for="ref" >reference</label>
  <input type="text" class="form-control" id="ref" placeholder="reference du produit" name="author" [(ngModel)]="produit.ref">

  <label for="quantite" >quantite</label>
  <input type="text" class="form-control" id="quantite" placeholder="prix" name="quantite" [(ngModel)]="produit.quantite">
  <label for="prix" >Price</label>
  <input type="text" class="form-control" id="prix" placeholder="price" name="prix" [(ngModel)]="produit.prix">

  <div class="form-group">
    <br>
    <input type="file" (change)="onFileChanged($event)">
    <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">
  </div>
  <br>
  <button type="button" class="btn btn-success" (click)="saveProduit()">Save produit</button>
