<div class="row mt-2">
  <div class="col-lg-12">
    <img src="assets/images/safe.jpg" alt="" width="1100" height="300">
  </div>
  <div class="row">
    <div class="col-lg-12 mt-2">
      <h3 class="card-title text-center">après la mise en quarantaine de la  maison imposée par le gouvernement en raison de la
        propagation du
        virus corona, nous avons créé cette application pour vous aider à faire vos achats depuis votre domicile.</h3>
      <h5 class="text-center card-text">vous trouverez tout ce que vous voulez ici.</h5>
      <h4 class="card-title">allez crée votre compte maintenant !!!!</h4>
    </div>
  </div>
</div>
