<div class="row"  ><div class="form-group"></div>
  <div class="col-lg-6 offset-lg-3" style="margin-top: 200px;" >
    <div class="form-group">
      <label style="color: #bd0d0e"><strong>Email:</strong></label>
      <input type="text" class="form-control" [(ngModel)]="email">
    </div>
    <div class="form-group">
      <label style="color: #bd0d0e"><strong>password:</strong></label>
      <input type="text" class="form-control" [(ngModel)]="password">
    </div>
    <button class="btn btn-primary" (click)="connecter()">connecter</button>
  </div>
</div>
